.footer{
    background-color: #353535;
    padding: 16px;
    &__logo{
        font-size: 20px;
        font-family: 'Shrikhand', "cursive";
        color: $color-white;
    }
    &__list{
        padding: 0px;
        li{
            line-height: 24px;
            :hover{
                text-decoration: underline;
            }
            a{
                color: $color-white;
                i{
                    width: 16px;
                    padding-right: 8px;
                }
            }
        }
    }
}