.fonctionnement{
    width: 100%;
    padding: 24px 0;
    background-color: $color-white;
    
    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0px;

        li{
            display: flex;
            align-items: center;
            position: relative;
            background-color: #F6F6F6;
            border-radius: 22px 22px 22px 22px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
            padding: 22px;
            gap: 16px;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                i{
                color: $color-primary;
                }
                background-color: rgba($color-primary, $alpha: 0.1);
            }

            .number{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -12px;
                background-color: $color-primary;
                border-radius: 50%;
                color: $color-white;
                height: 24px;
                width: 24px;
            }
        }
    }
}