@mixin btn-gradient {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
    background-image: linear-gradient(to top, $color-primary, $color-secondary );
    cursor: pointer;
    transition-duration: 0.30s;

    &:hover{
        background-color: $color-white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50);
        opacity: 0.9;

    }
}

@mixin menu-border {
    border-bottom: 4px solid #99e2d0;
    width: 48px;  
}

@mixin heart-btn {
    .fa-solid{
        opacity: 0;
        background-image: linear-gradient(to top, $color-primary, $color-secondary );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: .5s;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }    
        }
        &:hover .fa-regular{
            animation: btn-heart 0.25s both;  
        }
    }                  

@mixin tablet-desktop-only {
    @media (min-width: $breakpoints-tablet-desktop) {
        main{
            background-color: $color-white;
            .fonctionnement{
                h2{
                padding-bottom: 16px;
                }

                &__list{
                    flex-direction: initial;
                    justify-content: center;
                    gap: 30px;

                    li{ width: 100%;
                    }
                }

            }
            .restaurants{
                &__container{
                    flex-wrap: wrap;
                    flex-direction: row;

                    a{ width: calc( 50% - 16px);
                    }
                }
            }

            .menuContainer {
            display: flex;
            justify-content: center;
            gap: 16px;
            }
        }
        .footer{
        
            &__logo{
                display: flex;
                justify-content: center;
            }
            &__list{
                display: flex;
                justify-content: center;
                gap: 50px;
            }
    
        }
    }  
}