@mixin btn-gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    background-color: $color-secondary;
    height: 50px;
    width: 230px;
    font-weight: bold;
    box-shadow: 4px 4px 10px;
    background-image: linear-gradient(to top, $color-primary, $color-secondary );
}