@mixin btn-gradient {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
    background-image: linear-gradient(to top, $color-primary, $color-secondary );
    cursor: pointer;
    transition-duration: 0.30s;

    &:hover{
        background-color: white;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50);
        opacity: 0.9;

    }
}

@mixin menu-bordure {
    border-bottom: 4px solid #99e2d0;
    width: 48px;  
}